// Responsive images and videos in posts
.post-content img,
.post-content video {
    display: block;
    width: 100%;
    height: auto;
    margin-top: $layout-spacing * 2;
    margin-bottom: $layout-spacing * 2;
    @include card;
}

// Extra styles for medium-zoom library effect
.medium-zoom-overlay {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
