// Global footer
body > footer {
    padding-top: $layout-spacing * 2;
    padding-bottom: $layout-spacing * 2;
    background-color: var(--color-background-well);
    border-top: 1px solid var(--color-border);
}

// Theme switcher button styles
footer .btn-theme-switcher {
    padding: 0.5em 1em;
    background: var(--color-background-card);
    border: 1px solid var(--color-border);
    color: inherit;
    cursor: pointer;
}

// Theme switcher 2
footer .btn-theme-switcher {
    padding: 0;
    border: none;
    background-color: var(--color-background-well-deep);
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    position: relative;
    border-radius: 999px;
    display: flex;

    > span {
        display: inline-block;
        padding: 0.5em;
        border-radius: 50%;
        line-height: 1;

        &.active {
            background-color: var(--color-background-card);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
            z-index: 1;
        }
    }
}
