// Global footer
body > footer {
    padding-top: $layout-spacing * 2;
    padding-bottom: $layout-spacing * 2;
    background-color: var(--color-background-well);
    border-top: 1px solid var(--color-border);
}

// Theme switcher button styles
footer .btn-theme-switcher {
    padding: 0.5em 1em;
    background: var(--color-background-card);
    border: 1px solid var(--color-border);
    color: inherit;
    cursor: pointer;
}
