<header>
    <div class="container">
        <nav class="header-nav">
            <!-- Home link / Logo -->
            <a href="/" class="nav-brand" aria-label="Home">
                <svg width="500" height="500" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <path d="M275.444 150v200h-32.032V225.843L190.305 350h-23.884l-53.388-122.753V350H81V150h28.661l68.842 156.461L246.784 150h28.66zM323 150h96v200h-96z" />
                </svg>
            </a>

            <!-- Main internal pages -->
            <ul class="nav-primary">
                {% for item in site.data.navigation.primary %}
                    <li>
                        <a href="{{ item.link }}" {% if item.link == page.url %} class="active" {% endif %}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Secondary external links / icons -->
            <ul>
                {% for item in site.data.navigation.secondary %}
                    <li>
                        <a href="{{ item.link }}" title="{{ item.title }}" aria-label="{{ item.title }}" target="_blank" rel="noreferrer">
                            {{ item.content }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
