<div class="post-navigation">
    {% if page.previous %}
        <a href="{{page.previous.url}}" class="post-navigation-prev">
            <span>&larr;</span>
            <div class="post-navigation-thumbnail">
                <img src="{{ page.previous.thumbnail }}" alt="">
            </div>
            <span>{{ page.previous.title }}</span>
        </a>
    {% endif %}

    {% if page.next %}
        <a href="{{page.next.url}}" class="post-navigation-next">
            <span>{{ page.next.title }}</span>
            <div class="post-navigation-thumbnail">
                <img src="{{ page.next.thumbnail }}" alt="">
            </div>
            <span>&rarr;</span>
        </a>
    {% endif %}
</div>
