<nav class="post-navigation">
    {% if page.previous %}
        <a href="{{page.previous.url}}" class="post-navigation-prev">
            <span>
                &larr;
            </span>
            {% if page.previous.thumbnail %}       
                <div class="post-navigation-thumbnail">
                    <picture class="responsive-ratio responsive-ratio-1by1">
                        {% if page.previous.thumbnail_dark %}
                            <source media="(prefers-color-scheme: light)" srcset="{{ page.previous.thumbnail }}">
                            <source media="(prefers-color-scheme: dark)" srcset="{{ page.previous.thumbnail_dark }}"> 
                        {% endif %}
                        <img src="{{ page.previous.thumbnail }}" alt="">
                    </picture>
                </div>
            {% endif %}
            <span class="post-navigation-text">
                {{ page.previous.title }}
            </span>
        </a>
    {% endif %}

    {% if page.next %}
        <a href="{{page.next.url}}" class="post-navigation-next">
            <span class="post-navigation-text">
                {{ page.next.title }}
            </span>
            {% if page.next.thumbnail %}
                <div class="post-navigation-thumbnail">
                    <picture class="responsive-ratio responsive-ratio-1by1">
                        {% if page.next.thumbnail_dark %}
                            <source media="(prefers-color-scheme: light)" srcset="{{ page.next.thumbnail }}">
                            <source media="(prefers-color-scheme: dark)" srcset="{{ page.next.thumbnail_dark }}"> 
                        {% endif %}
                        <img src="{{ page.next.thumbnail }}" alt="">
                    </picture>
                </div>
            {% endif %}
            <span>
                &rarr;
            </span>
        </a>
    {% endif %}
</nav>
