<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- FontAwesome temporary -->
    <script src="https://kit.fontawesome.com/9db44483f1.js"></script>
    <!-- medium-zoom temporary -->
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js"></script>
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>
