// Layout
$layout-spacing: 15px;
$container-width: 640px;
$breakpoint-large: 480px;

// Colours


// Typography
$font-family-body: 'Roboto Slab', serif;
$font-family-heading: 'Muli', sans-serif;
$font-weight-body: 400;
$font-weight-heading: 700;

// Shadows
$box-shadow-card:
    0 4px 16px -4px rgba(0, 0, 0, 0.10),
    0 1px 4px -1px rgba(0, 0, 0, 0.05);

// Border radius
$border-radius-card: 2px;

:root {
    --color-background: #f7f7f7;
    --color-background-card: #fdfdfd;
    --color-background-well: #f0f0f0;
    --color-text: #272727;
    --color-link: #0077ba;
    --color-border: rgba(0, 0, 0, 0.15);
    --color-overlay: rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #37393e;
        --color-background-card: #40444b;
        --color-background-well: #2f3136;
        --color-text: #f7f7f7;
        --color-link: #12aaff;
        --color-border: rgba(255, 255, 255, 0.15);
        --color-overlay: rgba(0, 0, 0, 0.25);
    }
  }
  