// Layout
$layout-spacing: 15px;
$container-width: 640px;
$breakpoint-large: 480px;

// Typography
$font-family-body: 'Roboto Slab', serif;
$font-family-heading: 'Muli', sans-serif;
$font-family-code: 'Courier', monospace;
$font-weight-body: 400;
$font-weight-heading: 700;
$font-weight-code: 400;

// Shadows
$box-shadow-card:
    0 4px 16px -4px rgba(0, 0, 0, 0.10),
    0 1px 4px -1px rgba(0, 0, 0, 0.05);
$box-shadow-well:
    0 2px 16px -4px rgba(0, 0, 0, 0.10) inset,
    0 0px 4px -1px rgba(0, 0, 0, 0.05) inset;

// Border radius
$border-radius-card: 2px;

// Colours
@mixin colors-theme-light {
    --color-brand: #0077ba;
    --color-background: #f7f7f7;
    --color-background-card: #fdfdfd;
    --color-background-well: #f0f0f0;
    --color-background-well-deep: #d7d7d7;
    --color-text: #272727;
    --color-link: #0077ba;
    --color-border: rgba(0, 0, 0, 0.15);
    --texture-background-well: url('/assets/images/bg-texture-light.png');
}
@mixin colors-theme-dark {
    --color-brand: #0077ba;
    --color-background: #37393e;
    --color-background-card: #40444b;
    --color-background-well: #2f3136;
    --color-background-well-deep: #202225;
    --color-text: #f7f7f7;
    --color-link: #12aaff;
    --color-border: rgba(255, 255, 255, 0.15);
    --texture-background-well: url('/assets/images/bg-texture-dark.png');
}

// CSS custom properties (variables)
:root {
    @include colors-theme-light;

    &[data-user-theme="dark"] {
        @include colors-theme-dark;
    }

    &:not([data-user-theme]) {
        @media (prefers-color-scheme: dark) {
            @include colors-theme-dark;
        }
    }
}
