$layoutPadding: 15px;

/* Layout */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-bottom: $layoutPadding * 8;
}

.container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layoutPadding;
    padding-right: $layoutPadding;
}

.container-wide {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layoutPadding;
    padding-right: $layoutPadding;
}
