html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    background: map-get($colors, 'background');
    color: map-get($colors, 'text');
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    margin-top: $layoutPadding * 2;
    margin-bottom: $layoutPadding * 2;
}

p {
    line-height: 1.5em;
}

a {
    color: map-get($colors, 'link');
}


/* Home title */

h1.home-title {
    font-size: 2.5em;
}

h1.home-title > span:first-child {
    padding-right: 0.55em;
}

h1.home-title > span:first-child::after {
    content: '';
    display: inline-block;
    margin-left: 0.25em;
    width: 0.3em;
    height: 0.7em;
    margin-right: -0.55em;
    background-color: map-get($colors, 'text');
    animation-name: cursorBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes cursorBlink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}


/* Navigation temp */

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: $layoutPadding * 2;
    padding-bottom: $layoutPadding * 2;
    display: flex;
    align-items: flex-end;
    > *:not(:last-child) {
        margin-right: $layoutPadding + 5px;
    }
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    > li:not(:last-child) {
        margin-right: $layoutPadding;
    }
}

nav > ul > li > a {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        display: block;
        height: 2px;
        width: 0%;
        background-color: map-get($colors, 'link');
        border-radius: 2px;
        transition: width .15s ease;
    }

    &:hover, &:active, &:focus, &.active {
        &::after {
            left: 0;
            width: 100%;
        }
    }
}

nav .nav-primary {
    flex-grow: 1;
}

nav .nav-brand img {
    display: block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 2px;
}

/* Footer temp */

footer {
    background-color: #efefef;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: $layoutPadding * 2;
    padding-bottom: $layoutPadding * 2;

}




/* Portfolio Grid temp */

.portfolio-grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 15px;
    margin-top: 45px;
}

.portfolio-grid > div {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.portfolio-grid > div > a {
    display: block;
    text-decoration: none;
}

.portfolio-grid > div > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-grid > div > a > span {
    display: block;
    padding: 10px 15px;
}




/* Post temp */

.post img,
.post video {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
