---
layout: page
title: Portfolio
permalink: /portfolio/
---

<div class="portfolio-grid">
    {% for item in site.portfolio %}
        <a href="{{ item.url }}" class="portfolio-item">
            <div class="portfolio-item-body">
                <h2>{{ item.title }}</h2>
                <p>{{ item.teaser }}</p>
            </div>
            <div class="portfolio-item-thumbnail">
                <picture class="responsive-ratio responsive-ratio-1by1">
                    {% if item.thumbnail_dark %}
                        <source media="(prefers-color-scheme: light)" srcset="{{ item.thumbnail }}">
                        <source media="(prefers-color-scheme: dark)" srcset="{{ item.thumbnail_dark }}"> 
                    {% endif %}
                    <img src="{{ item.thumbnail }}" alt="">
                </picture>
            </div>
        </a>
    {% endfor %}
</div>
